# +Ciclo Gitignore

# Python & Environment
__pycache__/
*.py[cod]
*$py.class
.env
myenv/
.venv/
api/app/.env

# Local Resoures (Managed by Docker Volumes)
data/*
!data/.gitkeep
cache/*
!cache/.gitkeep

# IDE & OS
.vscode/
.DS_Store
.Rhistory
*.RData
*.Rproj.user

# Legacy leftovers (already purged)
Version 1/
sheet_cheat.sh
api/app/cache/
api/app/data/
api/app/test_output.log
